# Project dependencies
.cache

node_modules
yarn-error.log
package-lock.json

# Build directory

.DS_Store

.vscode/


.husky
content
src
static
.babelrc

# Ignore everything
*

# But keep these!
!public/**
!Dockerfile
!.github/**
!.gitignore
